body {
    font-family: Arial, sans-serif;
    background-image: url('../images/homePageBackground.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #c8ece3;
}
header {
    background: #209878;
    padding: 1rem 0;
    text-align: center;
}

.transparent-section{
    background-color: white;
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
    opacity: 0.8;
}

.background-image{
    background-image: url('../images/homePageBackground.jpg');
    opacity:50%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {

    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    background: #209878;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
