header {
    background: rgba(0, 0, 0, 0.899);
    padding: 1rem 0;
    text-align: center;
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 15%;
    width: auto; 
}

.heading {
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}